* {
  box-sizing: border-box;
  //   border:5px solid red;
  scroll-behavior: unset;
}

.swipetooptions {
  display: flex;
  width: 100%;
  background: gray;
  overflow: hidden;
  height: 50px;
  justify-content: flex-end;
  .body {
    height: 100%;
    background: red;
    min-width: 100%;
    flex: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    color: #444;
  }
  .options {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #fff;

    .edit {
      height: 100%;
      width: 50%;
      background: green;
    }
    .delete {
      height: 100%;
      width: 50%;
      background: red;
    }
    &.visible {
      min-width: 250px;
      max-width: 250px;
    }
    &.hidden {
      min-width: 0px;
      max-width: 0px;
    }
  }
}
