.optionmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(0);
    
    background:rgba($color: #fff, $alpha: 0.8);
    &.open{
        display: flex;

    }
    &.closed{
        display: none;
    }

    .options{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        .option{
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            color: #444;
            min-height: 40px;
            border-radius: 50px;
            width: 95%;
            margin: 5px auto;
            &.close{
                min-height: 55px;
                background: #999;
            }
        }
    }
    
}